* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1e1e1e;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

div {
  width: 300px;
  background-color: #505050;
}

form {
  display: flex;
  flex-direction: column;
}
